name: Perform a test

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  main:
    name: Python 3.10
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
    - name: Initialize
      uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install poetry
      run: |
        python -m pip install -U pip poetry
    - name: Run Python
      run: |
        cd nonebot2_store_test/
        python . -l 50
